/*@font-face {
  font-family: "HelveticaNeueCyr-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Light.otf")}*/

  /*@font-face {
  font-family: "MyriadPro-Cond";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadPro-Cond.otf")}*/


  @font-face {
    font-family: "MyriadPro-Cond";
    src: url("../fonts/new/MyriadProCondRegular/MyriadProCondRegular.eot");
    src: url("../fonts/new/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/new/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"),
    url("../fonts/new/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

  /*@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Medium.otf")}

   @font-face {
  font-family: "HelveticaNeueCyr-Roman";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/HelveticaNeueCyr-Roman.otf")}*/




  @font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/new/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/new/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/new/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/new/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('../fonts/new/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url('../fonts/new/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/new/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../fonts/new/helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('../fonts/new/helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('../fonts/new/helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../fonts/new/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/new/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/new/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/new/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/new/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('../fonts/new/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

 @font-face {
    font-family: "MetaBlackLFC";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/new/Meta/MetaBlackLFC.otf")}

   @font-face {
    font-family: "Geometria-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/new/Geometria/Geometria-Bold.otf")}




*, *:before, *:after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background: url(../img/background2.jpg) top center no-repeat;
  background-size: cover;
  height: 100vh;
}

body.scroll {
	overflow-y: auto;
	/*height: auto;*/
	min-height: 100vh;
	background: #1a9fda;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

.clearfix {
  clear: both;
}

.container {
  position: relative;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  position: relative;
  width: 100%;
  height: 110px;
  padding: 20px 0;
  background: url(../img/header-bg.jpg) top center no-repeat;
  background-size: cover;
}

.navi {
  float: left;
}

.navi li {
  display: inline-block;
  margin-right: 0.5vw;
  padding: 1.3vh 1vw;
  border-radius: 50px;
  background: #fff;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 0.9vw;
  line-height: 0.8vw;
  color: #043380;
}

.navi li a {
  color: #1a9fda;
  text-decoration: none;
}

.navi li:hover {
  background: #2ba6dd;
}

.navi li:hover a {
  color: #fff;
}

.logo {
  float: right;
  width: 3.3vw;
}

.logo img {
  max-width: 100%;
  height: auto;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: #1a9fda;
  z-index: 1;
}

body.scroll footer {
	/*position: relative;*/
}

.rules-btn {
  position: absolute;
  left: 0;
  display: inline-block;
  border: 1px solid #fff;
  margin-top: 3vh;
  padding: 7px 30px;
  border-radius: 50px;
  font-family: "HelveticaNeueCyr-Light";
  font-size: 1.05vw;
  line-height: 1.1vw;
  color: #fff;
}

.rules-btn:hover {
  background: #fff;
  color: #1a9fda;
}

.warning {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  font-family: "MyriadPro-Cond";
  max-width: 1024px;
  margin-top: 3vh;
  font-size: 2.5vw;
  line-height: 2.7vw;
  color: #90c8e9;
  text-transform: uppercase;
  text-align: left !important;
}

.warning2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "MyriadPro-Cond";
  font-size: 6vh !important;
  color: #90c8e9;
  text-transform: uppercase;
  text-align: center;
  z-index: 100;
}

.afrin-box {
  position: absolute;
  width: 18vw;
  right: 0;
  bottom: 1vh;
  text-align: right;
  z-index: 2;
}

.afrin-box img {
  max-width: 90%;
  height: auto;
}

.devis {
  font-family: "MetaBlackLFC";
  font-size: 2.5vw;
  line-height: 6vh;
  color: #1a9fda;
}

.devis span {
  color: #861818;
  font-size: 3.5vw;
  text-transform: uppercase;
}

.devis-descr {
  font-family: "Geometria-Bold";
  font-size: 1.3vw;
  line-height: 2.5vh;
  color: #1c337b;
}

.main-title {
  width: 35vw;
  /*width: 60vw;*/
  margin-left: 3vw;
  margin-top: 3vh;
}

.main-title img {
  max-width: 45%;
  height: auto;
}

.navi li.active {
  background: #2ba6dd;
}

.navi li.active a {
  color: #fff;
}

.register {
  position: absolute;
  top: 17vh;
  right: 0;
  width: 20vw;
  height: auto;
}

.rules-agree {
  max-width: 90%;
  margin-top: 1vh;
  /*padding-left: 1vw;*/
  font-family: "HelveticaNeueCyr-Light";
  font-size: 0.8vw;
  color: #1c337b;
  text-align: justify;
}

.register-check {
    position: absolute;
    top: 27vh;
    left: 3vw;
    width: 20vw;
    display: inline-block;
    border: 2px solid #1a9fda;
    margin-top: 3vh;
    padding: 2vh 1.6vw;
    border-radius: 50px;
    font-family: "HelveticaNeueCyr-Medium";
    font-size: 1.5vw;
    line-height: 1.1vw;
    color: #1a9fda;
    background: #fff;
}

.register-check:hover {
  background: #1a9fda;
  color: #fff;
}

/*==============================================================*/
/*About Page*/
.about__header {
  background: #fff;
}

.about__header_navi li {
  background: #dcf0fa;
}

.about__content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #92d5f5;
}

.about__content img {
  float: left;
  max-width: 100%;
  height: 27vh;
}

.about__content p {
  padding-top: 2vh;
   font-family: "HelveticaNeueCyr-Light";
   font-size: 0.9vw;
   line-height: 1.3vw;
   color: #1c337b;
}

.about__content p span {
  color: #1a9fda;
}

.about__footer {
  height: 15vh;
}

.about__title {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  z-index: 3;
  font-family: "MetaBlackLFC";
  font-size: 1.5vw;
  color: #fff;
}

.about__title span {
  color: #861818;
  text-transform: uppercase;
  font-size: 1.7vw;
}

.about__title img {
  position: relative;
  max-width: 90%;
  height: auto;
}

.about__social {
  float: right;
  margin: 0;
  margin-top: 3vh;
}

.about__social li {
  display: inline-block;
  width: 2.5vw;
 /* height: 3.8vh;
  background: url(../img/about-social.png) no-repeat;*/
}

.about__social li img {
  max-width: 100%;
  height: auto;
}

.about__social li img:hover {
  -moz-filter: brightness(50%);
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.rules-agree {
  width: 100%;
  margin: 0;
  font-size: 0.7vw;
}

/*.about__social .vk {
  background-position: -40px 0;
}

.about__social .fb {
  background-position: -80px 0;
}

.about__social .instagram {
  background-position: -120px 0;
}*/

/*==========================================================
Prizes Page*/
.prizes__content {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/prizes-bg.jpg) no-repeat;
  background-size: cover;
}

body.scroll .prizes__content {
	height: auto;
	position: relative;
	/*padding-bottom: 5vh;*/
}

.prizes__content + .about__footer {
  position: relative;
}

.steps-to-win {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 1vh;
  width: 45%;
  vertical-align: top;
}



.steps-number {
  position: relative;
  display: inline-block;
  background: #283779;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.steps-number span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.step1,
.step2,
.step3 {
  margin-bottom: 1vh;
}

.step1 img,
.step2 img,
.step3 img {
  max-width: 100%;
  height: 7vh;
  vertical-align: middle;
  margin-left: 0.5vw;
}

.step3 img {
  margin-left: 0.2vw
}

.step-descr {
  display: inline-block;
  width: 12vw;
  margin-left: 1vw;
  vertical-align: middle;
  font-family: "HelveticaNeueCyr-Light";
   font-size: 0.9vw;
   line-height: 1.3vw;
   color: #1c337b;
}

.last {
  margin-left: 2vw;
}

.user-input {
  display: inline-block;
  width: 50%;
  margin-top: 3vh;
  vertical-align: top;
  text-align: center;
}

.user-input input[type=text] {
  width: 100%;
  height: 40px;
  margin-bottom: 1vh;
  padding: 0 0.5vw;
  background: #fff;
  border: none;
  outline: 0;
  border-radius: 10px;
}

.load-check-photo,
.load-box-photo,
.send-user-data {
  padding: 0.3vw;
  background: transparent;
  border: 3px solid #263f84;
  border-radius: 10px;
   font-family: "HelveticaNeueCyr-Roman";
   font-size: 1vw;
   line-height: 1.2vw;
  color: #2c4485;
}

.load-check-photo:hover,
.load-box-photo:hover,
.send-user-data:hover {
  background: #263f84;
  color: #fff;
}

.load-check-photo {
  float: left;
}

.load-box-photo {
  float: right;
}

.send-user-data {
  margin-top: 1vh;
}

.prizes-list {
  position: relative;
  margin-top: 3vh;
  margin-bottom: 30vh;
  text-align: center;
}

.left-divider,
.right-divider {
  position: absolute;
  top: 1vh;
  width: 45%;
  height: 1px;
  background: #3a5795;
}

.left-divider {
  left: 0;
}

.right-divider {
  right: 0;
}

.prizes__content {
  position: relative;;
  width: 100%;
  height: auto;
  padding: 1px;
  background: #92d5f5;
  font-family: "HelveticaNeueCyr-Light";
  font-size: 1.1vw;
  line-height: 1.5vw;
  color: #1c337b;
}

.container-prizes {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  padding: 0 10px;
}

.prizes-list span {
   font-family: "HelveticaNeueCyr-Roman";
   font-size: 1vw;
   line-height: 1.2vw;
  color: #2c4485;
  text-transform: uppercase;
}

.prizes-pic {
  width: 100%;
  margin: auto;
}

.prizes-pic img {
  /*float: left;*/
  max-width: 100%;
  height: 20vh;
}

.prize {
  display: inline-block;
    vertical-align: top;
    width: 32%;
}

.prize span {
  display: inline-block;
  max-width: 100%;
  height: 6.5vh;
  vertical-align: top;
  /*margin-top: 20%;*/
  font-size: 0.8vw;
}

/*============================================================
Feedback Page*/
.feedback__content {
  position: absolute;
  width: 100%;
  height: 88%;
  padding-top: 5vh;
  background: url(../img/prizes-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
}

body.scroll .feedback__content {
	/*height: auto;*/
	position: relative;
	padding-bottom: 5vh;
}

.feedback {
  width: 50%;
  margin: auto;
}

.feedback input[type=text] {
  width: 100%;
  height: 40px;
  margin-bottom: 1vh;
  padding: 0 0.5vw;
  background: #fff;
  border: none;
  outline: 0;
  border-radius: 10px;
}

.feedback input[type=email],
 .feedback input[type=number] {
  margin-bottom: 1vh;
}

.feedback textarea {
  width: 100%;
  height: 195px;
  padding: 0 0.5vw;
  background: #fff;
  border: none;
  outline: 0;
  border-radius: 10px;
  resize: none;
}

.feedback button, .feedback input[type=submit] {
  margin-top: 1vh;
   padding: 0.5vw 2vw;
  background: transparent;
  border: 3px solid #263f84;
  border-radius: 50px;
   font-family: "HelveticaNeueCyr-Roman";
   font-size: 1vw;
   line-height: 1.2vw;
  color: #2c4485;
  width: auto;
}

.feedback button:hover, .feedback input[type=submit]:hover {
  background: #263f84;
  color: #fff;
}

/*============================================================
Winners Page*/
.winners__content {
   position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 5vh;
  background: url(../img/prizes-bg.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "HelveticaNeueCyr-Medium";
  font-size: 2vw;
  line-height: 5vh;
   color: #1c337b;
}
